@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

body{
    background-image: linear-gradient(to right, #33c77685, #60cab385, #0f82b885, #09569e85,#094a7585);
    background-attachment: fixed;
    
}

h1{
    font-family: 'Kaushan Script', serif;
    font-size: 3em;
}

h2 {
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

p{
    text-align: justify;
}

.card {
    padding: 5px;
    border-radius: 10px 10px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
}

img:hover{
    cursor: pointer;
}